{{define "public/head.html"}}
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">
<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
<link rel="stylesheet" type="text/css" href="/assets/plugins/auiv21/css/aui.css" />
<script src="/assets/plugins/vue/vue.min.js"></script>
<script type="text/javascript" src="/assets/plugins/auiv21/script/api.js" ></script>
<script type="text/javascript" src="/assets/js/mui.min.js"></script>
<script type="text/javascript" src="/assets/js/q.js"></script>
<script type="text/javascript" src="/assets/js/util.js" ></script>
<link href="/assets/css/mui.min.css" rel="stylesheet" />
<link href="/assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="/assets/css/common.css" rel="stylesheet" />
{{end}}